#portfolio {
  margin: -2em 0 0 2em;
  color:#555555;

  .highlight {
    border-left: 3px solid red;
    padding-left: .6em;
  }

  .project {
    margin-top: 2em;
  }

   .name {
    color:#111111;
    font-size:18px;
    padding-left:0.5em;
  }

   .description {
    margin: 1em 1em 1em 2em;
    text-align:justify;
  }

   .description p {
    margin-top: 1em;
    margin-left: 1.0em;
  }

  .thumbnail, .keywords, .client, .quote, .locations {
    margin: 1em .2em .1em 2em;
  }

  .quote blockquote {
    quotes:"\201C""\201D""\2018""\2019";
    font-style: italic;
  }

  .quote blockquote:before {
    color:#ccc;
    content:open-quote;
    font-size:4em;
    line-height:.1em;
    margin-right:.25em;
    vertical-align:-.4em;
  }

  .quote blockquote:after {
    color:#ccc;
    content:close-quote;
    font-size:4em;
    line-height:.1em;
    margin-left:.15em;
    vertical-align:-.5em;
  }

  .quote p, .quote blockquote {
    margin-top: 0.5em;
    margin-left: 1.0em;
  }

  .keywords ul, .locations ul {
    display: inline;
  }

  .keywords li, .locations li {
    padding-left: .3em;
    margin: 0 .2em .1em 0;
    display: inline;
  }

  .project a:link {
    color: blue;
  }

  .project a:visited {
    color: darkBlue;
  }
}
