---
about_us_selected_class: selected
title: C42 Engineering | about us
---

<div class="theDream">
  <h2>chasing a dream</h2>
  <p>
    We've founded C42 Engineering because we believe that there is a need for high quality Ruby and Rails solution providers, offshore.
  </p>
  <p>
    With over five years of experience delivering projects using agile philosophies on a variety of platforms, we're ideally placed to build beautifully designed and engineered Ruby and Rails applications. Many of the philosophies that the Ruby community embraces - short iterations, deep customer involvement, continuous integration, test driven development - are things we've been doing successfully for years already.
  </p>
  <p>
    We understand Ruby and Rails' strengths and weaknesses vis-a-vis other technology stacks, and are ideally placed to advise you on whether Ruby and Rails are a good fit for your needs. If it turns out that Ruby <span class="emphasis">is</span> indeed the right thing for you, we have the kind of experience that allows us to deliver robust, beautifully designed and engineered and well tested web applications using the Rails stack.
  </p>
</div>

<div class="contactUs">
  <h2>contact us</h2>
  <p>
    C42 Engineering India Pvt. Ltd.,<br/>
    1st Floor, #147, 10th Cross,<br/>
    Indiranagar Stage 1,<br/>
    Bangalore - 560038. (<a href="http://x.c42.in/c42office">map</a>)
  </p>
  <p class='bufferBottom'>
    To get in touch, simply drop us an email at
    <a href="mailto:business@c42.in">
      business@c42.in
    </a>
  </p>
</div>
