---
careers_selected_class: selected
title: C42 Engineering | careers
---

<div id="careers">
  <h2>careers</h2>
  <div class="role">
    <p>C42 Engineering is a boutique Ruby, Rails and Agile consultancy based in Bangalore.</p>
    <br>
    <p>Our founding team are some of the earliest adopters of Ruby in India and are also the people
behind <a href="https://rubymonk.com" target="_blank">RubyMonk.com</a>, an e-learning platform with 250,000 users annually.</p>
    <br>
    <p>We are now looking to hire passionate hackers for multiple positions.</p>
    <br>
    <h3>what we’re looking for:</h3>
    <p>We’re only fussy about your code and your learnability, really. Experience with ruby is <i>not mandatory</i> to work with us. Take a look at the job description below and drop us a line if you think you fit the bill!</p>
    <br>
    <h4>junior consultant</h4>
    <ul class="patterns">
      <li>A passion for programming and solving real business problems through engineering.</li>
      <li>A strong foundation in at least one object-oriented programming language.</li>
      <li>The Master says Open source contributions are “most excellent”. Share your github
profile with us when you apply!</li>
    </ul>
    <br>
    <h4>senior consultant: <span class="italics">in addition to above</span></h4>
    <ul class="patterns">
      <li>A strong foundation in object oriented design and architecture.</li>
      <li>A firm grasp of software engineering principles (including techniques like TDD), with a
focus on continuous delivery.</li>
      <li>An excellent command over written and spoken English.</li>
      <li>Experience engaging with clients, proposing solutions and seeing them through.</li>
      <li>Enjoys mentoring and coaching.</li>
    </ul> 
    <br> 
    <h4>principal consultant: <span class="italics">in addition to above</span></h4>
    <ul class="patterns">
      <li>Deep experience consulting with at a senior level to help improve the pace of delivery
through software engineering practices.</li>
      <li>Proficiency across languages, frameworks and technologies.</li>
      <li>Expertise with polyglot codebases.</li>
    </ul>
    <br>
    <h4>operations manager</h4>
    <ul class="patterns">
      <li>Create and maintain financial, cashflow, sales and staffing models.</li>
      <li>Work closely with the Partners to ensure that they have the right information based on models to make decisions.</li>
      <li>Alert Partners well in advance when models indicate unexpected cash, cashflow, sales or staffing situations in the future.</li>
      <li>External customer experience - clients should have a butter smooth experience with invoices raised on time and operational queries responded to in a timely manner.</li>
      <li>Internal customer experience - employees (internal customers) should have a butter smooth experience with salaries, timesheets, expenses, facilities, meals, perks, etc.</li>
      <li>Covering the above will require management of: Accounts, Invoicing and Administration of the office.</li>
    </ul>
    <br>
    <h3>what we offer</h3>
    <ul class="patterns">
      <li>The flexibility of a start up with the solidity of a mid-sized firm. We have been in the business for over four years and our product has 2,50,000 users across the globe.</li>
      <li>Plenty of learning on the job.</li>
      <li>We deeply value work-life balance. Being in crunch mode 24/7 is a no-no.</li>
      <li>Very competitive salaries commensurate with experience.</li>
      <li>Lunch and a fully stocked pantry. The Master says, “Pizza for you! With anchovies I presume?”.</li>
      <li>A comfortable office in the heart of Bangalore, with the all-pervading sweet smell of working code.</li>
      <li>Hang out with a fun team. Have intelligent conversations about anything, anytime.</li>
    </ul>]
    <br>
    <h3>to apply</h3>
    <p>Write to us at <a href="mailto:work@c42.in" class="email">work@c42.in</a> with your CV. Please include your contact details and github profile in case of consultant profile, if you have one. If you have any other projects in the public domain, please provide links to those as well.<p>
</div>
