---
contact_us_selected_class: selected
title: C42 Engineering | contact us
---

<div class="contactUs">
  <h2>contact us</h2>
  <p>
    C42 Engineering India Pvt. Ltd.,<br/>
    1st Floor, #147, 10th Cross,<br/>
    Indiranagar Stage 1,<br/>
    Bangalore - 560038. (<a href="http://x.c42.in/c42office">map</a>)
  </p>
  <p class='bufferBottom'>
    To get in touch, simply drop us an email at
    <a href="mailto:business@c42.in">
      business@c42.in
    </a>
  </p>
</div>
