---
homepage_selected_class: selected
---

<div id="home">
  <div>
    <%= image_tag "homepage-banner.jpg", :class => "hero", :title => "Copyright Julien Mangez: http://www.flickr.com/photos/julien-mangez/2818622582/", :alt => "Rails" %>
  </div>
  <div class="thePitch">
    <div class="applications">
      <h2>the right applications</h2>

      <p class="snippet">We leverage our years of agile experience to build software you need.</p>

    </div>
    <div class="crafted">
      <h2>carefully crafted</h2>

      <p class="snippet">Because beautifully designed and engineered software makes all the difference in the world.</p>

    </div>
    <div class="delivered">
      <h2>and delivered.</h2>

      <p class="snippet">On time. Because your business, your time and our reputation is at stake.</p>
    </div>
  </div>
</div>
