---
open_source_selected_class: selected
title: C42 Engineering | open source
---

<div id="opensource">
  <div class="project">
    <div class="name">
      Wrest
    </div>
    <div class="urls">
      <ul>
        <li>
          <a href="http://github.com/c42/wrest" target="_blank">Source</a>
        </li>
      </ul>
    </div>
    <div class="description">
      Wrest was a side-effect of the team's extensive experience building RESTfully integrated systems using Rails, and their complete frustration with Rails' ActiveResource library. Wrest started out as an attempt to replace ActiveResource and is now a powerful and expressive DSL for working with HTTP based APIs. It makes integration with a <a href="http://github.com/c42/wrest/blob/master/examples">host of web APIs</a> like Twitter, Facebook and Delicious easy and pleasant.
    </div>
  </div>
  <div class="project">
    <div class="name">
      PoxPaginate
    </div>
    <div class="urls">
      <ul>
        <li>
          <a href="http://github.com/c42/pox_paginate" target="_blank">Source</a>
        </li>
      </ul>
    </div>
    <div class="description">
      PoxPaginate, like Wrest is a project that resulted from the team's extensive experience building distributed systems using Rails. It provides a drop-in pagination solution for collections exposed via POX (Plain Old XML) services.
    </div>
  </div>
</div>
