---
products_selected_class: selected
title: C42 Engineering | products
---

<div id="products">
  <div class="product">
    <div class="name">
      rubymonk
    </div>
    <%= image_tag "Monk-Transparent.png", :alt => "Monk" %>
    <div class="description">
      <a href="http://rubymonk.com/">rubymonk</a> is an online training platform that teaches you ruby in a fun
      interactive way.
      It is designed to cater to complete newcomers to the programming world, as well as professionals looking for
      specific learning.
    </div>
    <div class="description">
      With our public beta wildly successful we're looking to make rubymonk the first choice for learning
      ruby.
    </div>
    <div class="description">
      The rubymonk Primer is a free introductory course on Ruby. It is our way of giving back to the community. We love
      ruby and we want you to know why
    </div>
  </div>
</div>
